<div class="mt-5 m-auto leftBar">
    
    <ul>
        <h3>For You...</h3>
      <li><a href="">Science</a></li>
      <li><a href="">Finance</a></li>
      <li><a href="">Food</a></li>
      <li><a href="">History</a></li>
      <li><a href="">Entertainment</a></li>
    </ul>
  </div>