<div class="mt-5 m-auto ">

  <ul>
    <h3>Related Questions</h3>
    <li><a href="">How do I make money?</a></li>
    <li><a href="">Is pizza unhealthy?</a></li>
    <li><a href="">How to give good exam?</a></li>
    <li><a href="">Who is SRK? Is he famous?</a></li>
    <li><a href="">What is HYPERLOOPS?</a></li>
  </ul>
</div>